<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Todo</title>
    <script type="text/javascript">
      let showInputBox = ()=>{
        let input = document.querySelectorAll('.addItem');
        input.forEach((element)=>{
          element.classList.remove('hidden');
        });
      }
      let hide = ()=>{
        let input = document.querySelectorAll('.addItem');
        input.forEach((element)=>{
          element.classList.add('hidden');
        });
      }
    </script>
    <link rel="stylesheet" href="/css/styleSheet.css">
  </head>
  <body>
    <table>
      <tr><td><a href="/">home</a></td></tr>
      <tr><td><a href="/listTodos.html">view your todos</a></td></tr>
      <tr><td><a href="#">edit todo</a></td></tr>
      <tr><td><a href="/logout">Logout</a></td></tr>
    </table>
    <h1>TodoTitle</h1>
    <h3>description</h3>
    <form action="/addItem" method="post">
      <input class="hidden" type="text" name="todoId" value="id"><br>
      <input id="addItem" class="hidden addItem" type="text" name="item"><br>
      <input class="hidden addItem" type="submit" value="OK" onclick="hide()">
      <input class="hidden addItem" type="reset" value="cancel" onclick="hide()"><br>
      <label onclick="showInputBox()">add Item</label>
    </form>
    allItems
  </body>
</html>
